

.header {
  height:        100px;
  background:    #ededed;
  position:      relative;
  margin-bottom: 100px;

  @include box-shadow(0px 1px 15px 1px #c4c6c1);
  @extend %clear_fix;

  .container {
    @extend %clear_fix;
  }
}

.header__left {
  float: left;
  width: 80%;
}

.header__right {
  float: left;
  width: 20%;
}

.logo__pic {
  @include dimensions(100px, 100px);
}

.logo__img {
  display: block;
  @include dimensions(100%, 100%);
}

.nav {
  margin-top:  1.5rem;
  font-size:   150%;
  font-family: 'Roboto', sans-serif;
}

.nav__item {
  margin-right: 10px;
  display:      block;
  padding:      5px 10px;
  border:       3px solid transparent;

  @include inline_block(middle);

  &:hover {
    border: 3px solid $hover_color;

    @include border-radius(5px);
    @include transition-duration(.5s);
  }
}

.nav__links {
  color: $text_color;

  @include transition-duration(.5s);
  &:hover {
    color: #505050;

    @include transition-duration(.5s);
  }
}







