@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

.general {
  font-family: 'Lato', sans-serif;
}



.content__title {
  font-size: 150%;
  color:     $text_color;
}

.content__text {
  font-size: 125%;
  color: #383838;
}







