body, html {
  @include dimensions(100%, 100%);
}

body {
  font-size:   100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-width:  $container_width + 20px;
  min-height: 100%;
  position: relative;

  &:after {
    content:  "";
    display:  block;
    overflow: hidden;
    height:   $footer_height;
  }
}

.maincontent {
  padding-bottom: 80px;
}

.container {
  width:  $container_width;
  margin: 0 auto;
}

/* -- ===== Сброс параметров ===== -- */

li {
  list-style: none;
}

ul {
  margin:  0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin:  0;
}

h1,h2,h3,h4,h5,h6{
  margin-top:  0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

menu {
  margin:  0;
  padding: 0;
}

input, select {
  &:focus {
    outline:  none;
  }
}

/* -- ===== Footer ===== -- */

.footer {
  min-width:  $container_width + 20px;
  height:     $footer_height;
  background: #313131;
  margin-top: -$footer_height;
  position:   relative;
  width:      100%;
}





